@import "tailwindcss";

/* TODO: clean up the naming on these to make more sense */
:root {
  --background: #171717; /*black, but like less. Background */
  --foreground: #a8b68d;
  /* --alt-white: #a8b68d; Use as an alternate to the stinging white, has a slight green tint to it. */
  --primary-green: #385e3c; /* green. use for headers and titles. */
  --standard-font: #dcb070; /* dcb070 orangeish. use for regular / descriptive fonts */
  --highlight-font: #6eaa6e; /*light green use for popping the big header text. */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --color-primary-green: var(--primary-green);
  --color-highlight-font: var(--highlight-font);
  --color-standard-font: var(--standard-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #a8b68d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
}

/* contain header and footer */
main {
  flex-grow: 1;
}
footer {
  border-top: 1px solid var(--primary-green);
}

/* borrowed from https://deloughry.co.uk/field-notes/building-glitch-effects-with-css/#crt-scan-lines */
.crt-filter::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.25) 2px,
    rgba(0, 0, 0, 0.25) 4px
  );
  pointer-events: none;
  z-index: 10;
  animation: crt-scanline-flicker 0.08s steps(2) infinite;
}

@keyframes crt-scanline-flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.92;
  }
}
